{% extends "CursosBundle::layout.html.twig" %}

{% block content %}	

<div class="col-lg-4">
	<h3> Editar Perfil de Persona, Usuario, Teléfono</h3>
	<hr/>
	{{ form_start(form, {'action':'', 'method':'POST'}) }}
		{{ form_row(form.nombre) }}
		{{ form_row(form.apellido) }}
		{{ form_row(form.direccion) }}
		{{ form_row(form.telefono.numero) }}
		{{ form_row(form.usuario.apodo) }}
		{{ form_row(form.usuario.correo) }}
		{{ form_row(form.usuario.password) }}
		{{ form_row(form.enviar) }}
		{{ form_widget(form.usuario.enviar, { 'attr': {'disabled': 'disabled', 'class': 'hidden'} }) }}
		{{ form_widget(form.telefono.enviar, { 'attr': {'disabled': 'disabled', 'class': 'hidden'} }) }}
	{{ form_end(form) }}
</div>

<div class="clearfix"></div>

{% endblock %}