<!DOCTYPE html>
<html lang="es">
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %} Sistema Para La Administración de Cursos {% endblock %}</title>

        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
        <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>


        <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.15/css/dataTables.bootstrap.min.css">  
        <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.15/js/jquery.dataTables.min.js"></script>
        <script src="https://cdn.datatables.net/1.10.15/js/dataTables.bootstrap.min.js"></script>
       
    </head>
    <body>
        <header>
            <nav class="navbar navbar-default">
                <div class="container-fluid">
                    <!-- Brand and toggle get grouped for better mobile display -->
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                        <a class="navbar-brand" href="{{path("cursos_info")}}">Sistema de Cursos</a>
                    </div>

                    <!-- Collect the nav links, forms, and other content for toggling -->
                    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                        <ul class="nav navbar-nav">
                            {% block menu %}
                                <li>
                                    <a href="{{ path("curso_index") }}"><span class="glyphicon glyphicon-book"></span>  Cursos Disponibles </a>
                                </li>
                                {% if is_granted('ROLE_ADMIN') %}
                                    <li>
                                        <a href="{{ path("persona_report") }}"><span class="glyphicon glyphicon-user"></span> Personas Registradas </a>
                                    </li>
                                {% endif %}
                                <li class="dropdown">
                                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><span class="glyphicon glyphicon-list-alt"></span> Títulos de Cursos </a>
                                    <ul class="dropdown-menu">
                                        <li>
                                            <a href="curso_excel_report"><span class="glyphicon glyphicon-save-file"></span>Descargar Excel</a>
                                        </li>
                                        <li>
                                            <a href="curso_pdf_report"><span class="glyphicon glyphicon-save-file"></span>Descargar PDF</a>
                                        </li>
                                    </ul>
                                </li>
                            {% endblock%}
                        </ul>
                        <ul class="nav navbar-nav navbar-right">
                            <li ><a href="#">
                                    {% if app.user != null %}
                                        Hola, bienvenido {{ app.user.apodo }}!!
                                    {% endif %}
                                </a>
                            </li>
                            <li class="dropdown">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Opciones <span class="glyphicon glyphicon-cog"></span></a>
                                <ul class="dropdown-menu">
                                    {% if app.user != null %}
                                        {% if is_granted('ROLE_ADMIN') %}
                                            <li><a href="{{path("curso_register")}}">Registrar Curso</a></li>
                                        {% endif %}
                                        <li><a href="{{path("persona_index", {"id":app.user.persona.id}) }}">Ver Perfil de Usuario</a></li>
                                        <li><a href="{{path("telefono_register", {"id":app.user.persona.id}) }}">Registrar Número de Teléfono</a></li>
                                        <li><a href="#">Información</a></li>
                                        <li role="separator" class="divider"></li>
                                        <li><a href="{{path("logout")}}">Cerrar Sesión</a></li>
                                    {% else %}
                                        <li><a href="{{path("persona_register")}}">Registrarse en el Sistema</a></li>
                                        <li><a href="{{path("login")}}">Iniciar Sesión</a></li>
                                        <li role="separator" class="divider"></li>
                                        <li><a href="{{path("cursos_info")}}">Información</a></li>
                                    {% endif%}
                                </ul>
                            </li>
                        </ul>
                    </div><!-- /.navbar-collapse -->
                </div><!-- /.container-fluid -->
            </nav>
        </header>
        <section id="content">
            {% block content %} Contenido predeterminado... {% endblock %}
        </section>
        <hr/>
        <footer>
            Sistema desarrollado en Symfony3 por Edgoldo
        </footer>
        {% block extra_footer %}{% endblock %}
    </body>
</html>
