{% extends "CursosBundle::layout.html.twig" %}

{% block content %}
	<h3> Cursos Disponibles</h3>
	<hr/>
	<div class="col-lg-10">
		{% if is_granted('ROLE_ADMIN') %}
			<a href="{{ path("curso_register") }}" class="btn btn-primary">Registrar Nuevos Cursos</a>
			<hr/>
		{% endif %}
		{% for message in app.session.flashbag().get('status') %}
			<div class="alert alert-success"> {{ message }} </div>
		{% endfor %}
		<table class="table table-hover table-bordered" id="miTabla">
			<thead>
				<tr>
					<th>Titulo</th>
					<th>Descripcion</th>
					<th>Semanas de Duración</th>
					<th>Participantes</th>
					<th>Suscribirse</th>
					{% if is_granted('ROLE_ADMIN') %}
						<th>Editar</th>
						<th>Eliminar</th>
					{% endif %}
				</tr>
			</thead>
			<tbody>
				{% for curso in cursos %}
					<tr>
						<td>{{ curso.titulo }}</td>
						<td>{{ curso.descripcion }}</td>
						<td>{{ curso.duracion }}</td>
						<td>{{ curso.participantes }}</td>
						{% if is_granted('ROLE_ADMIN') or is_granted('ROLE_USER') %}
							<td align="center"><a href="{{ path("curso_suscribe", {"id":curso.id}) }}" class="glyphicon glyphicon-thumbs-up" style="font-size:25px;"></a></td>
						{% else %}
							<td align="center"><a href="{{ path("persona_register") }}" class="glyphicon glyphicon-thumbs-up" style="font-size:25px;"></a></td>
						{% endif %}
						{% if is_granted('ROLE_ADMIN') %}
							<td align="center">
								<a href="{{ path("curso_edit", {"id":curso.id}) }}" class="glyphicon glyphicon-edit" style="font-size:25px;"></a>
							</td>
							<td align="center">
								{% if curso.personaCurso|length == 0 %}
									<a href="{{ path("curso_delete", {"id":curso.id}) }}" class="glyphicon glyphicon-remove" style="font-size:25px;"></a>
								{% else %}
									<a href="#" data-toggle="tooltip" class="btn" title="Indica que hay personas inscritas en el curso">Activo</a>
								{% endif %}
							</td>
						{% endif %}
					</tr>
				{% endfor %}
			</tbody>
		</table>
	</div>
	<div class="clearfix"></div>
{% endblock %}
{% block extra_footer %}
<script>
	$(document).ready(function(){
	   	$('#miTabla').DataTable();
	});
</script>
{% endblock %}